        <div class="container text-header">
          <h1 class="titre">All users</h1>
        </div>
        <div class="container content">
          <div class="row">
            <div class="col-md-6">
              <div class="blc-button">
                <a href='/users' class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Return </a>
              </div>
            </div>
            <div class="col-md-6">
            </div>
            </div>

            <div class="row">
               <div class="col-md-8">
              <div class="box box-info">
                <div class="box box-solid">


                  <%= form_with(model: User, local: true) |form| %>
                    <% if band.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(band.errors.count, "error") %> </h2>  

                  <% end %>

               <%= form_tag '/users', html: { multipart: true }, method: 'post' do %>
                    <div class="box-body">
                      <div class="form-group">
                        <label for="libelle">Name</label>
                        <input type="text" class="form-control" name="name"/>
                      </div>

                      <div class="form-group">
                        <label for="libelle">Address</label>
                        <input type="text" class="form-control" name="address"/>
                      </div>

                      <div class="form-group">
                        <label for="libelle">Phone</label>
                        <input type="text" class="form-control" name="phone"/>
                      </div>

                      <div class="form-group">
                        <label for="Image">Image</label>
                        <input type="file" class="form-control" name="image"/>
                      </div>
                      
                    </div>
                    <div>
                    <button type="submit" class="btn btn-primary btn-sm" >Enregistrer</button>
                    </div>
                   <% end %>
               


                   
                </div>  
              </div>
            </div>
          
            </div>
        </div>
