body{
    background-color:#c52f24 !important;
    /* background-image: url(../img/bg.jpg); */
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    font-weight: 200 !important;
}

.bg-primary{
    background-color: #9a0808 !important;
}

.navbar{
    background-color: white;
    padding: 5px !important;
}

.nav-link{
    color: #444;
    font-weight: 200;
    font-size: 15px;
    font-weight: 400;
}

.content{
    background-color: white;
    padding-top: 15px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.text-header{
    margin-top: 120px;
    margin-bottom: 58px;
    text-align: center;
    background: #00000030;
}

.titre{
    text-transform: uppercase;
    color: white;
    font-size: 38px;
    font-weight: 100;
    padding: 10px;
}

.alert {
    position: relative;
    padding: 0.4rem 1.1rem !important;
    border-radius: 0px !important;
}

.table{
    box-shadow: 0 3px 6px rgba(0, 2, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.08);
    padding: 10px;
    background: white;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
}

.section{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    background: white;
}

.navbar-brand{
    color:white !important;
}

.section h5{
    margin-bottom: 20px;
}


label{
    font-weight: 500;
    text-transform: uppercase;
}

th, td{
    /* text-align: center; */
}

footer {
    margin-top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}


.list-unstyled {
    padding-left: 0;
    list-style: none;
    display: flex;
}


#footer, ul, li {
    /* padding-right: 5px; */
    /* margin: 20px */
}


.center{
    display : table;
     margin : 0 auto;
}

.blc-button{
    background: white;
    margin-bottom: 28px;
    color: white;
}

.align-center{
     text-align: center;
}


.action{
    width: 233px;
}

.action_categorie{
    width: 33px;
}

.action-button{
    display: inline-flex;
}

.btn-sm{
    margin: 3px;
}



.box{
    padding: 7px;
}

dt{
    /* font-size: 18px; */
    font-weight: 700;
    border-bottom: 1px solid #0000001f;
    margin-bottom: 8px;
    text-transform: uppercase;
}

dd{
    margin-bottom: 29px !important;
    margin-left: 0;
    font-size: 15px;
}

.hidden{
    display: none;
}


.modal-footer{
    padding-top: inherit !important;
    padding-bottom: 10px;
    border: none !important;
}